* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}
.table {
	border-collapse: collapse;
	margin-left: 20%;
	margin-top: 20%;
}
.table th, .table td {
	width: 100px;
	height: 50px;
	border: 1px solid #ccc;
	text-align: center;
}

.table thead tr {
	background: #555;
	color: #fff;
}
.table .triangle {
	float: right;
	display: inline-block;
	height: 0;
	border: 8px solid #ccc;
	margin-right: 5px;
	cursor: pointer;
}
.table .up {
	margin-top: -4px;
	border-color: transparent transparent #ccc transparent ;
}
.table .down {
	margin-top: 4px;
	border-color:  #ccc transparent transparent transparent;

}